.App {
  text-align: center;
  background-image: url(https://cdn.hellofresh.com/us/us-recipe-archive/most-popular-recipes.jpg);
  background-position: center;
  color : #e1e2e0;
  font-size: 240%;
  height: 50vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form {
  background-color: #ccbe1d;
  background-size: 30px;
  display: flex;
  
}
button{
  border-radius: 20px;
  width :200px;
  height : 40px;
  background-color: #9bb4ec;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
